.orange-dot {
  color: var(--red);
}

.notification-card,
.notification-card-new {
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
}

.notification-card:last-child {
  margin-bottom: 0;
}

.notification-card-new {
  background-color: var(--very-light-grayish-blue);
}

.user-profile-container {
  flex-shrink: 0;
  margin-right: 10px;
  width: 35px;
}

.user-profile {
  height: auto;
  width: 100%;
}

.referred-picture {
  width: 39px;
  padding: 2px;
  border-radius: 10px;
}

.referred-picture:hover {
  padding: 0;
  border: 2px solid var(--light-grayish-blue-2);
}

.referred-picture-container {
  margin-left: 10px;
}

.notification-card-text-content {
  margin-right: auto;
}

.time {
  color: var(--grayish-blue);
  font-weight: normal;
  width: 100%;
}

.privat-message {
  margin-top: 10px;
  padding: 15px;
  width: 100%;
  border: 1.5px solid var(--light-grayish-blue-2);
  border-radius: 5px;
  font-size: var(--base-font-size);
  text-align: left;
}

.privat-message:hover {
  background-color: var(--light-grayish-blue-2);
}

.link {
  font-weight: 800;
  font-size: var(--base-font-size);
}

.user-name {
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: var(--base-font-size);
}

.link:hover,
.user-name:hover {
  color: var(--blue);
}
